@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yg7t54');
  src:  url('fonts/icomoon.eot?yg7t54#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yg7t54') format('truetype'),
    url('fonts/icomoon.woff?yg7t54') format('woff'),
    url('fonts/icomoon.svg?yg7t54#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thermometer:before {
  content: "\e915";
}
.icon-basestation:before {
  content: "\e911";
}
.icon-bonch:before {
  content: "\e900";
}
.icon-database:before {
  content: "\e914";
}
.icon-battery-unknown:before {
  content: "\e90d";
}
.icon-battery:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e90f";
}
.icon-cancel:before {
  content: "\e910";
}
.icon-chevron-right:before {
  content: "\e912";
}
.icon-chevron-left:before {
  content: "\e913";
}
.icon-map-outlined:before {
  content: "\e901";
}
.icon-chip:before {
  content: "\e902";
}
.icon-cpu:before {
  content: "\e903";
}
.icon-chip-outlined:before {
  content: "\e904";
}
.icon-dashboard-outlined:before {
  content: "\e905";
}
.icon-dashboard:before {
  content: "\e906";
}
.icon-database-outlined:before {
  content: "\e907";
}
.icon-drive:before {
  content: "\e908";
}
.icon-graph:before {
  content: "\e909";
}
.icon-graph-outlined:before {
  content: "\e90a";
}
.icon-map:before {
  content: "\e90b";
}
.icon-ram:before {
  content: "\e90c";
}
.icon-layers:before {
  content: "\e92e";
}
.icon-refresh:before {
  content: "\e984";
}
.icon-cog:before {
  content: "\e994";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-stop:before {
  content: "\ea1e";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-left:before {
  content: "\ea40";
}
