.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease-in-out, transform 0.25s ease;
}
.delay {
 transition-delay: 0.5s;
}
.fade-enter {
 opacity: 0;
 transform: translateY(50px)
}
.fade-enter-to {
 opacity: 1;
 transform: translateY(0px);
}
.fade-leave {
 opacity: 1;
 transform: translateY(0px);
}
.fade-leave-to {
 opacity: 0;
 transform: translateY(100px)
}
.side-animation {
  transition: padding-left 0.15s ease-in-out;
}
.an {
  width: 100%;
  transition: width 0.15s ease-in-out;
}
.loading {
  animation: mymove 2.5s infinite ease;
}
@keyframes mymove {
  0% {color: #82B1FF;}
  50% {color: #4c658d}
  100% {color: #82B1FF;}
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-out 0.5s;
}
@keyframes bounce-in {
  0% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounce-out {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(100px);
  }
}
.start-btn {
	background: linear-gradient(-45deg, #73be41, #30b878, #1aa593, #1fb95f);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.stop-btn {
	background: linear-gradient(-45deg, #dd2b2b, #f13f3f, #d31414, #ec1d16);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.marker {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  animation: mymove 1.5s infinite ease;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(24, 150, 150,0.9);
}
