::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #141926;
}
::-webkit-scrollbar-thumb {
  background: #0f131f;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1d2534;
  border-radius: 10px;
}

